<% layout('layouts/boilerplate')%>
    <link rel="stylesheet" href="/stylesheets/stars.css">
    <div class="row">
        <div class="col-6 offset-3">
            <div id="medicalCarousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <img src="<%= customer.cstimage%>" class="d-block w-100" alt="">
                </div>
            </div>
            <div class="card">
                <div class="card-body ">
                    <h5 class="card-title ">
                        <%= customer.cstname%>
                    </h5>
                    <p class="card-text ">
                        <%= customer.cstbuy%>
                    </p>
                </div>
                <ul class="list-group list-group-flush ">
                    <li class="list-group-item text-muted ">Customer Code:
                        <%= customer.cstcode%>
                    </li>
                    <li class="list-group-item ">Customer Address:
                        <%=customer.cstaddress%>
                    </li>
                    <li class="list-group-item ">Total Bill $
                        <%= customer.cstprice%>
                    </li>
                    <li class="list-group-item ">Customer Phone Number
                        <%= customer.cstphone%>
                    </li>

                </ul>
                <div class="card-body ">
                    <a class="card-link btn btn-info " href="/medics/customer/<%=customer._id%>/edit">Edit</a>
                    <form class="d-inline" action="/medics/customer/<%=customer._id%>?_method=DELETE" method="POST">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                </div>
                <div class="card-footer text-muted">
                    2 days ago
                </div>
            </div>

        </div>
    </div>